{%- if process.env.ELEVENTY_ENV == 'production' -%}
<link rel="preload" href="{{ site.url }}/assets/fonts/encode-sans-v19-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ site.url }}/assets/fonts/m-plus-1-code-v13-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
{%- endif -%}