<ul>
  <li><a href="mailto:{{ site.email }}" aria-label="email {{ site.name }} at {{ site.email }}">{% icon "fas:envelope" %}{{ site.email }}</a></li>
  <li><a href="tel:{{ site.telephone }}" aria-label="call {{ site.name }} on {{ site.telephone }}">{% icon "fas:phone" %}{{ site.telephoneDisplay }}</a></li>
  <li><a href="tel:{{ site.telephone1 }}" aria-label="call {{ site.name }} on {{ site.telephone1 }}">{% icon "fas:phone" %}{{ site.telephoneDisplay1 }}</a></li>
  <li><a href="tel:{{ site.mobile }}" aria-label="call {{ site.name }} on {{ site.mobile }}">{% icon "fas:mobile-screen" %}{{ site.mobileDisplay }}</a></li>
</ul>