{%- if navigation.secondnav -%}
<ul>
  <li><a target="blank" aria-label="for admin to CMS" href="/admin/">Admin</a></li>
  {%- for item in navigation.secondnav -%}{% set externalAttribute = '' %}{% set currentAttribute = '' %}
  {%- if item.external -%}{% set externalAttribute = ' rel="external"' %}{%- endif -%}
  {%- if page.url == item.url -%}{% set currentAttribute = ' aria-current="page"' %}{%- endif -%}
  <li><a aria-label="{{ item.aria }}" href="{{ item.url }}"{{ externalAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text }}</a></li>
  {%- endfor -%}
</ul>
{%- endif -%}