@font-face {
  font-display: swap;
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/tajawal-v11-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/tajawal-v11-latin-700.woff2') format('woff2');
}

:root {
  --default-screen: 1080;
  --header-text: clamp(48px, calc((48 / (var(--default-screen) / 100)) * 1vw), 60px);
  --heading-h1: clamp(48px, calc((48 / (var(--default-screen) / 100)) * 1vw), 76px);
  --heading-h2: clamp(30px, calc((30 / (var(--default-screen) / 100)) * 1vw), 40px);
  --heading-h3: clamp(26px, calc((28 / (var(--default-screen) / 100)) * 1vw), 32px);
  --heading-h4: clamp(22px, calc((24 / (var(--default-screen) / 100)) * 1vw), 28px);
  --heading-h5: clamp(20px, calc((20 / (var(--default-screen) / 100)) * 1vw), 24px);
  --heading-h6: clamp(16px, calc((18 / (var(--default-screen) / 100)) * 1vw), 20px);
  --paragraph: clamp(18px, calc((18 / (var(--default-screen) / 100)) * 1vw), 20px);
  --small: clamp(12px, calc((12 / (var(--default-screen) / 100)) * 1vw), 14px);

  --space-default: 1rem;

  --space-l1-lg: 4rem;
  --space-l2-lg: 3rem;
  --space-l3-lg: 2.5rem;
  --space-l4-lg: 2rem;
  --space-l5-lg: 1.5rem;
  --space-l6-lg: 1rem;

  --space-l1-sm: calc(var(--space-l1-lg) / 4);
  --space-l2-sm: calc(var(--space-l2-lg) / 4);
  --space-l3-sm: calc(var(--space-l3-lg) / 4);
  --space-l4-sm: calc(var(--space-l4-lg) / 4);
  --space-l5-sm: calc(var(--space-l5-lg) / 4);
  --space-l6-sm: calc(var(--space-l6-lg) / 4);

  --space-list-items: 0.3rem;
}

p,
li,
a,
blockquote,
input,
button {
  font-size: var(--paragraph);
}

small,
.is--meta {
  font-size: var(--small);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --l-spacing: 0;
  --w-spacing: 0;
  font-family: var(--h-font);
  font-weight: var(--h-font-wght);
  letter-spacing: var(--l-spacing);
  line-height: var(--line-height-headings);
  margin-bottom: 0.4em;
  margin-top: 1em;
  text-align: var(--h-pos);
  text-transform: capitalize;
  text-wrap: balance;
  word-spacing: var(--w-spacing);
}

h1 {
  font-size: var(--heading-h1);
  margin-bottom: 0.7em;
}

h2 {
  font-size: var(--heading-h2);
  margin-bottom: var(--space-l2-sm);
}

h3 {
  font-size: var(--heading-h3);
  margin-bottom: var(--space-l3-sm);
}

h4 {
  font-size: var(--heading-h4);
  margin-bottom: var(--space-l4-sm);
}

h5 {
  font-size: var(--heading-h5);
  margin-bottom: var(--space-l5-sm);
}

h6 {
  font-size: var(--heading-h6);
  margin-bottom: var(--space-l6-sm);
}

:is(p, ul, ol, dl) {
  margin-bottom: var(--space-default);
}

*:has(+ h2) {
  margin-bottom: var(--space-l2-lg);
}
*:has(+ h3) {
  margin-bottom: var(--space-l3-lg);
}
*:has(+ h4) {
  margin-bottom: var(--space-l4-lg);
}
*:has(+ h5) {
  margin-bottom: var(--space-l5-lg);
}
*:has(+ h6) {
  margin-bottom: var(--space-l6-lg);
}

:where(h1):has(+ h2) {
  margin-bottom: var(--space-l1-sm);
}
:where(h2):has(+ h3) {
  margin-bottom: var(--space-l2-sm);
}
:where(h3):has(+ h4) {
  margin-bottom: var(--space-l3-sm);
}
:where(h4):has(+ h5) {
  margin-bottom: var(--space-l4-sm);
}
:where(h5):has(+ h6) {
  margin-bottom: var(--space-l5-sm);
}


:where(p):has(+ h2) {
  margin-bottom: 0;
}

:where(p):has(+ h3) {
  margin-bottom: 0;
}

:where(p):has(+ h4) {
  margin-bottom: 0;
}

:where(p):has(+ h5) {
  margin-bottom: 0;
}

:where(p):has(+ h6) {
  margin-bottom: 0;
}

:is(p, ul, ol, dl, h1, h2, h3, h4, h5, h6):not(:has(+ *)) {
  margin-bottom: 0;
}

p,
li,
a,
blockquote,
small {
  font-family: var(--b-font);
  font-weight: inherit;
}

body,
html {
  font-family: var(--b-font);
  font-style: normal;
  font-weight: var(--f-wght);
  letter-spacing: var(--l-spacing);
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;
  word-spacing: var(--w-spacing);
}

p {
  overflow-wrap: break-word;
  white-space: normal;
  word-break: keep-all;

  &.is--indented {
    text-indent: var(--space-unit);
  }
}

.paragraph--heading {
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
  text-transform: capitalize;
}

small {
  font-style: italic;
}

blockquote {
  background-color: var(--gray-100);
  border-left: 5px solid var(--pri-500);
  border-radius: var(--bor-rad);
  color: var(--f-color);
  font-style: italic;
  font-weight: var(--f-wght);
  margin: 0 0 1rem;
  padding: var(--space-xxs);

  p {
    margin-bottom: 0.5em;
  }
}

mark {
  background-color: var(--pri-300);
  color: var(--f-color-inv);
  padding:  .1rem .3rem;
}

.is--meta {
  color: var(--gray-400);
}

.is--bold,
b,
strong {
  font-weight: 600;
}

.is--italic {
  font-style: italic;
}

.is--heading, .header-anchor {
  color: var(--f-color);
  font-family: var(--h-font);
  font-size: var(--heading-h5);
  font-weight: var(--h-font-wght);
  letter-spacing: var(--l-spacing);
  line-height: var(--line-height-header);
  margin-bottom: 1rem;
  margin-top: 0;
  padding: var(--p-btn-input-v);
  text-transform: capitalize;
  width: 100%;
  word-spacing: var(--w-spacing);
}

.is--link--heading {
  font-family: var(--h-font);
  font-size: var(--heading-h2);
  font-weight: var(--h-font-wght);
  letter-spacing: var(--l-spacing);
  line-height: var(--line-height-header);
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-top: 0;
  text-transform: capitalize;
  word-spacing: var(--w-spacing);
}

@media only screen and (max-width: 49.9rem) {
  body {
    text-rendering: optimizeSpeed;
  }
}
