button,
.button {
  background: var(--pri-600);
  border: 3px solid transparent;
  border-radius: var(--bor-rad);
  color: var(--f-color-inv);
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  margin: 0 0.6rem 0 0;
  outline: none;
  padding: 1ch 2ch;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: all var(--dur) var(--trans);
  user-select: none;

  &:focus,
  &:hover {
    background: var(--sec-500);
    border: 3px solid var(--pri-800);
    border-radius: 0;
  }
}

.button--submit {
  background: var(--pri-600);
  border: 3px solid transparent;
  border-radius: var(--bor-rad);
  color: var(--f-color-inv);
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  margin: 1.5rem 0.6rem 0 0;
  outline: none;
  padding: 1ch 2ch;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: all var(--dur) var(--trans);
  user-select: none;

  &:focus,
  &:hover {
    background: var(--sec-500);
    border: 3px solid var(--pri-800);
    border-radius: 0;
  }
}
