---
layout: feed
pagination:
  data: collections.categoryList
  size: 1
  alias: category
addAllPagesToCollections: true
permalink: '/categories/{{ category.slug }}/index.html'
eleventyComputed:
  title: 'Category: {{ category.slug }}'
  description: 'This is a collection of articles gathered from our journal articles that have been sorted by your chosen category.'
ogType: website
jsonldType: page
pageType: blog
sitemap: {
  changefreq: 'monthly',
  priority: '0.5'
}
keywords: ['Categories', 'Category', 'Blog', 'Posts', 'Articles']
bkgdimage: /assets/images/machined-stainless-plate.jpg
---
