---
layout: base
permalink: /
title: Specialist Equipment & Sub Contract Engineering
description: "F W Frost Engineers Ltd offer in-house design, machining and fabrication services, along with inspection and finishing processes to complete the package."
keywords: ['Precision Machining in Norfolk', 'Precision Milling in Norfolk','Precision Turning in Norfolk','Large Fabrication in Norfolk', 'Precision Engineers in Norfolk', 'Precision Fabrication in Norfolk', 'Precision Sheet-metal in Norfolk']
ogType: website
jsonldType: page
pageType: home
bkgdimage: /assets/images/fw-frost-engineers.jpg
---

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>About FW Frost Engineers</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>Being one of the largest Sub-Contract Engineering Company's in Norfolk, F.W.Frost Engineers Ltd is still a
        family-owned and run business based in Norwich, employing a loyal workforce of nearly 40 people, specialising in
        the manufacture of quality fabrications and machined components, dealing in bespoke, specialist equipment and
        sub-contract work, rather than a standard product.</p>
      <p>Having recently celebrated being over 78 years in business, the company is still going from strength to
        strength with a client base that is expanding.</p>
    </div>
  </div>
</div>
<div class="frontpage--block--container">
  <div class="row">
    <h2>What We Do</h2>
  </div>
  <div class="row">
    <div class="auto--grid--fit">
      <div class="block">
        <p class="is--heading">{% icon "fas:ruler-combined" %} Fabrication</p>
        <p>We have strong team of skilled welders and fabricators allowing us to work in sheet-metal and upto heavy
          plate in materials like Aluminium, Mild Steel and Stainless Steel</p>
        <a href="/fabrication/" aria-label="">Our Fabrication Capabilities{% icon "fas:caret-right" %}</a>
      </div>
      <div class="block">
        <p class="is--heading">{% icon "fas:wrench" %} Machining</p>
        <p>Having wide range of both manual and CNC mills and lathes gives us the capacity to cover most aspects of
          precision engineering, backed up with two large horizontal borers there aren't many areas of machining we
          cannot cover.</p>
        <a href="/machining/" aria-label="">Our Machining Capabilities{% icon "fas:caret-right" %}</a>
      </div>
      <div class="block">
        <p class="is--heading">{% icon "fas:phone" %} Get In Contact</p>
        <p>If you have any engineering problem that involves fabrication, machining or assembly, please get in
          contact, hopefully we will be able to help.</p>
        <a href="/contact-us/" aria-label="">Contact Us{% icon "fas:caret-right" %}</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>{% icon "fas:trophy-star" %} Quality Work</h2>
      <p>Experience across food, motor, chemical, water, agriculture, and subsea industries showcases our consistently high-quality machining and fabrication. Supported by coded welding and a robust quality control system, our reputation for excellence is truly worldwide</p>
      <p>Working on this varied range of products has given us much experience of high-quality work, giving us a reputation to be proud of.</p>
      <h2>{% icon "fas:arrow-progress" %} Philosophy & Ethos</h2>
      <p>Upholding a philosophy of quality and service, we continually invest in the latest CNC and CAM technologies, blended with traditional engineering expertise. This ensures our manufacturing processes are optimized, guaranteeing high-quality outcomes for every customer.</p>
      <h2>{% icon "fas:thought-bubble" %} Work Methods</h2>
      <p>Providing quality service means being adaptable. Our flexible methods allow us to swiftly meet customer requirements and partner in development, ensuring cost-effective solutions delivered reliably and on time.</p>
      <h2>{% icon "fas:check-double" %} Complete Solutions</h2>
      <p>As well as providing a high quality manufacturing service, we can also manage a complete project from design, with our own <a href="https://www.3ds.com/products-services/draftsight-cad-software/" target="_blank">2D</a> & <a
          href="http://www.solidworks.co.uk/" target="_blank">3D</a> CAD facility, through to coatings and treatments, assembly and on-site installation.</p>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-md-6">
          <div class="block--rect">
            <h3>{% icon "fas:tractor" %} Agriculture</h3>
            <p>From simple rollers to complete fabricated chassis, we have built them all. Our skilled engineers are
              capable of completing any project.</p>
          </div>
          <div class="block--rect">
            <h3>{% icon "fas:candy" %} Confectionery</h3>
            <p>From custom machinery to equipment repairs, we support confectionery manufacturers with precision
              engineering to keep production lines running smoothly.</p>
          </div>
          <div class="block--rect">
            <h3>{% icon "fas:flask-gear" %} Chemical</h3>
            <p>Trusted partner for chemical industry needs, providing expert machining and fabrication services for
              complex and critical applications.</p>
          </div>
          <div class="block--rect">
            <h3>{% icon "fas:jet-fighter" %} Defence</h3>
            <p>Working on high tolerance fabrications and machined components is all in a days work for our skilled
              engineering team.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="vertical--spacer"></div>
          <div class="block--rect">
            <h3>{% icon "fak:race-car" %} Motor-sport</h3>
            <p>Harnessing advanced machining and fabrication techniques, we engineer performance components for
              motor-sport, from classic to modern. </p>
          </div>
          <div class="block--rect">
            <h3>{% icon "fas:box" %} Packaging</h3>
            <p>Our team designs and manufactures bespoke machinery used in the packaging industry, optimising production
              efficiency and reliability.</p>
          </div>
          <div class="block--rect">
            <h3>{% icon "fas:water" %} Water</h3>
            <p>From helping with environmental protection to simple pipework our engineers can be relied on for a solid
              solution.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="contact--block">
        <h3>If You'd Like To Make Contact...</h3>
        <p>Are you in need of some High Quality Fabrication or Machining, give FW Frost Engineering a call today on <a
            aria-label="call FW Frost Engineering for your fabrication or machining needs" href="tel:01603867301">01603
            867301</a> or <a aria-label="call FW Frost Engineering for your fabrication or machining needs"
            href="tel:07885170163">07885170163</a>.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
