---
layout: base
permalink: /
title: Specialist equipment & sub contract engineering
description: "F W Frost Engineers Ltd offer in-house design, machining and fabrication services, along with inspection and finishing processes to complete the package."
keywords: ['Precision Machining in Norfolk', 'Precision Milling in Norfolk','Precision Turning in Norfolk','Large Fabrication in Norfolk', 'Precision Engineers in Norfolk', 'Precision Fabrication in Norfolk', 'Precision Sheet-metal in Norfolk']
ogType: website
jsonldType: page
pageType: home
bkgdimage: /assets/images/assembled_components.jpg
---

{% block content %}
<section>
  <h1>{{ title }} {{ site.name }}</h1>
  <img src="/assets/images/fw-frost-engineers.jpg" alt="Main office & workshop building of FW Frost(Engineers) Ltd">
  <p>Being one of the largest Sub-Contract Engineering Company's in Norfolk, F.W.Frost Engineers Ltd is still a family-owned and run business based in Norwich, employing a loyal workforce of nearly 40 people, specialising in the manufacture of quality fabrications and machined components, dealing in bespoke, specialist equipment and sub-contract work, rather than a standard product.</p>
  <p>Having recently celebrated being over 78 years in business, the company is still going from strength to strength with a client base that is expanding.</p>

  <p>Our quality of work can be seen worldwide from the food, confectionery, motor, chemical, water and agricultural industries to subsea oil exploration and control, backed up with coded welding and an adaptable quality control system.</p>
  <p>This varied range of products has given us much experience of high-quality work, giving us a reputation to be proud of.</p>
  <p>The company's philosophy of quality and service is backed by the continual investment in the latest CNC and CAM technologies coupled with traditional engineering skills which all contribute to improving our manufacturing processes for the customer.</p>
  <p>Our flexible work methods allow us to rapidly accommodate the requirements of our customers, also working closely in the development of their products, providing the most cost-effective way, every time and on time.</p>
  <p>As well as manufacture, we can also manage a complete project from design, with our own <a href="https://www.3ds.com/products-services/draftsight-cad-software/" target="_blank">2D</a> & <a href="http://www.solidworks.co.uk/" target="_blank">3D</a> CAD facility, to coating, assembly and installation.</p>
</section>
  <div class="frontpage--block--container">
    <div class="auto--grid--fit">
      <div class="block">
        <p class="is--heading">{% icon "fas:ruler-combined" %} Fabrication</p>
        <p>We have strong team of skilled welders and fabricators allowing us to work in sheet-metal and upto heavy plate in materials like Aluminium, Mild Steel and Stainless Steel</p>
        <a href="/fabrication/" aria-label="">Our Fabrication Capabilities{% icon "fas:caret-right" %}</a>
      </div>
      <div class="block">
        <p class="is--heading">{% icon "fas:wrench" %} Machining</p>
        <p>Having wide range of both manual and CNC mills and lathes gives us the capacity to cover most aspects of precision engineering, backed up with two large horizontal borers there aren't many areas of machining we cannot cover.</p>
        <a href="/machining/" aria-label="">Our Machining Capabilities{% icon "fas:caret-right" %}</a>
      </div>
      <div class="block">
        <p class="is--heading">{% icon "fas:phone" %} Get In Contact</p>
        <p>If you have any engineering problem that involves fabrication, machining or assembly, please get in contact, hopefully we will be able to help.</p>
        <a href="/contact-us" aria-label="">Contact Us{% icon "fas:caret-right" %}</a>
      </div>
    </div>
  </div>
<section>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quas doloremque exercitationem sunt, alias aliquam! Voluptatum omnis sunt similique, accusantium qui quis culpa nisi odit iure deleniti placeat rem rerum, sit adipisci magni distinctio dicta.</p>

  <p> Vitae dolorum voluptatem repellat labore reprehenderit expedita cupiditate eius aspernatur asperiores, quam incidunt velit hic!</p>
</section>
{% endblock %}
