---
layout: base
permalink: /offline/
eleventyExcludeFromCollections: true
eleventyExcludeFromSitemap: true
title: Offline
description: You are currently offline. You will not be able to use all the features of our website at present, please visit us again when you are back online.
keywords: ['Offline', 'Website Offline', 'Not Online']
indexable: no-index
sitemap:
  ignore: true
bkgdimage: /assets/images/machined_and_assembled_components.jpg
---

<section class="s--wrapper" data-pagefind-ignore >
  <h1>{{ title }}</h1>
  <p>You are currently offline.</p>
  <p>Please check your internet connection.</p>
  <a aria-label="click the button try reloading this page" href="." class="button">RETRY</a>
</section>