---
permalink: /site.webmanifest
---
{
  "lang": "{{ site.lang }}",
  "dir": "{{ site.dir }}",
	"name": "{{ site.name }}",
	"short_name": "{{ site.name }}",
	"icons": [
		{
			"src": "/icon-192x192.png",
			"sizes": "192x192",
			"type": "image/png"
		},
		{
			"src": "/icon-512x512.png",
			"sizes": "512x512",
			"type": "image/png"
		}
	],
	"theme_color": "{{ site.themeColor }}",
	"background_color": "{{ site.backgroundColor }}",
	"display": "standalone",
	"start_url": "/"
}
