.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.screen-reader-text:active,
.screen-reader-text:focus,
.screen-reader-text:hover {
  background-color: var(--wh-color);
  clip: auto !important;
  color: var(--bkgd-color);
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}
