.frontpage--block--container {
  background-color: var(--pale-50);
  margin-bottom: 2rem;
  margin-left: 50%;
  margin-top: 0.5rem;
  padding: 5vh 3vh;
  transform: translateX(-50%);
  width: 100vw;
}

@include respond-to(sm) {
  .frontpage--block--container {
    padding: 5vh 8vh;
  }
}

@include respond-to(md) {
  .frontpage--block--container {
    padding: 5vh 15vh;
  }
}

@include respond-to(lg) {
  .frontpage--block--container {
    padding: 5vh 30vh;
  }
}
