<header class="frontpage--header" style="background-image: url('{{ bkgdimage }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-6">
        <p class="is--bold">Engineering Excellence</p>
        <h1>{{ title }}</h1>
        <p>From design to installation, we specialise in turnkey solutions that craft bespoke, high-quality machinery
          and engineering expertise for unique, large-scale requirements.</p>
        <a class="button" aria-label="contact FW Frost about your fabrication or machining needs"
          href="/contact/">Interested, Lets Talk {% icon "fas:caret-right" %}</a>
      </div>
    </div>
  </div>
</header>