<header style="background-image: url('{{ bkgdimage }}');">
  <div class="inner--header">
    <a class="heading" href="/" aria-label="click here to head to the home page.">{{ site.name }}</a>
    <p class="sub--heading">{{ site.slogan }}</p>
  </div>
</header>