<link rel="stylesheet" href="{{ "/assets/css/main.css" | url | cacheBust  }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ "/assets/css/cookie.css" | url | cacheBust  }}" type="text/css" media="all" />
{%- if pageType === 'home' -%}
<link rel="stylesheet" href="{{ '/assets/css/frontpage.css' | url | cacheBust }}" type="text/css" media="all" />
{%- elseif pageType === 'contact' -%}
<link rel="stylesheet" href="{{ '/assets/css/contact.css' | url | cacheBust }}" type="text/css" media="all" />
{%- elseif pageType === 'blog' -%}
<link rel="stylesheet" href="{{ '/assets/css/blog.css' | url | cacheBust }}" type="text/css" media="all" />
{%- elseif pageType === 'gallery' %}
<link rel="stylesheet" href="{{ '/assets/css/gallery.css' | url | cacheBust }}" type="text/css" media="all" />
{%- elseif pageType === 'search' -%}
<link rel="stylesheet" href="{{ '/assets/cses/search.css' | url | cacheBust }}" type="text/css" media="all" />
{%- elseif pageType === 'sitemap' -%}
<link rel="stylesheet" href="{{ '/assets/css/sitemap.css' | url | cacheBust }}" type="text/css" media="all" />
{%- endif -%}
<link rel="stylesheet" href="{{ "/assets/css/print.css" | url | cacheBust  }}" type="text/css" media="print" />