<div class="theme--switcher">
  <label for="themeswitch">
    <input aria-label="dark-light mode toggle" role="switch" type="checkbox" id="themeswitch">
    <span class="switch">
      <span class="icon sun-icon">{% icon "fas:sun" %}</span>
      <span class="icon moon-icon">{% icon "fas:moon" %}</span>
    </span>
  </label>
</div>
