---
layout: base
---

<section class="contact m--wrapper" data-pagefind-ignore>
  {{ content | safe }}
  <div class="contact--container">
    <div class="contact--left">
      {%- include "partials/micro/address.njk" -%}
      {%- include "partials/micro/phone.njk" -%}
    </div>
    <div class="contact--right">
      <form name="contact-form" method="POST" action="/success/" data-netlify="true" data-netlify-honeypot="bot-field">
        <input class="visually--hidden" type="hidden" name="contact-form" value="contact" />
        <p class="visually--hidden">
          <label> Don’t fill this out: <input name="bot-field" /> </label>
        </p>
        <div class="form--row">
          <div>
            <label for="name">Your name</label>
            <input type="text" name="name" class="complete--width" aria-label="Please enter your full name" aria-required="true" required v-model="formData.name" />
          </div>
        </div>
        <div class="form--row">
          <div>
            <label for="mobile">Your Mobile</label>
            <input type="text" name="mobile" aria-label="Please enter your mobile number, this is not required" aria-required="false" class="complete--width" v-model="formData.mobile" />
          </div>
          <div>
            <label for="email">Your Email</label>
            <input type="email" name="email" class="complete--width" aria-label="Please enter your email address" aria-required="true" required v-model="formData.email" />
          </div>
        </div>

        <div class="textarea--row">
          <label for="message">Message</label>
          <textarea name="message" rows="8" class="complete--width" aria-label="Please enter your message" aria-required="true" required v-model="formData.message"></textarea>
        </div>

        <p class="is--meta">By submitting a contact form you are a agreeing to the terms of our <a class="is--meta" href="/policies/#privacy-policy">privacy policy</a>.</p>

        <button name="submit" class="button--submit" type="submit" aria-label="Submit the form">Submit Form</button>
      </form>
    </div>
  </div>
</section>
