---
layout: base
---

<section class="container">
  <div class="row">
    <div class="auto--grid--fit">
      {%- if collections.fabBlocks.length > 0 -%}
      {%- for item in collections.fabBlocks | sort(false, false, 'data.image') -%}
    <div class="block">
      <h2>{% icon 'fak:' + item.data.icon %} {{ item.data.title }}</h2>
      {{ item.content | safe }}
    </div>
    {%- endfor -%}
    {%- endif -%}
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
    {{ content | safe }}
  <div class="block--grid">
    {%- if collections.fabImages.length > 0 -%}
    {%- for item in collections.fabImages | sort(false, false, 'data.image') -%}
    <img loading="lazy" src="{{ item.data.image }}" alt="{{ item.data.alt }}" />
    {%- endfor -%}
  </div>
  {%- else -%}
  <p>Sorry, there are no images just now.</p>
  {%- endif -%}
  </div>

  <div class="col-md-2">
    <div>
      {%- if collections.fabLinks.length > 0 -%}
      {%- for item in collections.fabLinks | sort(false, false, 'data.image') -%}
      <a target="_blank" rel="noopener" aria-label="Link to {{ item.data.title }}" href="{{ item.data.url }}">
      <img loading="lazy" src="{{ item.data.image }}" alt="{{ item.data.alt }}" />
      </a>
      {%- endfor -%}
    </div>
    {%- else -%}
    <p>Sorry, there are no images just now.</p>
    {%- endif -%}
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="contact--block">
        <h3>If You'd Like To Make Contact...</h3>
        <p>Are you in need of some High Quality Fabrication or Machining, give FW Frost Engineering a call today on <a
            aria-label="call FW Frost Engineering for your fabrication or machining needs" href="tel:01603867301">01603
            867301</a> or <a aria-label="call FW Frost Engineering for your fabrication or machining needs"
            href="tel:07885170163">07885170163</a>.</p>
      </div>
    </div>
  </div>
</div>
</section>